// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $bodyFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: $blackClr;
  background-color: $whiteClr;
  overflow-x: hidden;

  @include md {
    font-size: 14px;
  }
}

a {
  text-transform: inherit;
  text-decoration: none;
  color: $secondaryClr;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: darken($secondaryClr, 10%);
    text-decoration: none;
    box-shadow: none;
    outline: 0;
  }
}

button {
  box-shadow: none !important;
  outline: 0 !important;

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: 0 !important;
  }
}

input,
select {
  height: auto;
}

select {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  @include headingOne;
}

h2 {
  @include headingTwo;
}

h3 {
  @include headingThree;
}

h4 {
  @include headingFour;
}

h5 {
  @include headingFive;
}

h6 {
  @include headingSix;
}
